{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Juan Camilo</h2>
                <p>Welcome to game Rock, Paper, Scissors, I created this game to provide you an funny experience and challenge.</p>
                <p>If you have any questions or suggestions about the game or any project, don't doubt to contact me through the following links.</p>

                <ul class="py-3">
                    <li><a href="https://github.com/juancamilocc" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/juan-camilo-colorado-cardona-4114b823b/" target="_blank">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}